body {
  max-width: 1200px;
  min-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  font-family: Noto Sans KR, Arial, sans-serif;
  margin: auto;
}

.title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: midnightblue;
}

.container {
  display: flex;          
  flex-direction: column;
  flex-wrap: wrap;  
  padding: 20px;
  border: 1px solid midnightblue;
  border-radius: 10px;
  width: auto;
}

.form-row {
  display: flex;
  margin-bottom: 10px;
  gap: 10px;
}

.input-group p {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.input-group input {
  flex: 1;
  padding: 8px;
  min-width: 180px;
}

button {
  padding: 10px 20px;
  background-color: rgb(221, 253, 77);
  color: midnightblue;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
}

.button-group {
  flex-shrink: 0;
  display: flex;
  gap: 10px;
  align-items: end;
}

button:hover {
  background-color: rgb(166, 250, 30);
}

.table-group {
  border-radius: 10px;
  text-align: center;
  margin-top: 20px;
  overflow: hidden;
}

.medal-table {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.medal-table > div {
  flex: 1;
  text-align: center; 
  margin: 0;
}

.medal-table.header {
  background-color: midnightblue;
  color: white;
  margin: 0;
  padding: 18px 10px;
}

.medal-table.gray {
  background-color: #d3d2d2; 
}

.medal-table.white {
  background-color: white;
}
